h5 {
    margin: 0;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    z-index: 1000;
    padding-top: 30px;
    background-color: cadetblue;
}
.container{
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: azure;
    text-align: center;
}
.button-field {
    padding: 10px 0;
}
.figure {
    position: relative;
    display: inline-block;
}

.figure__line {
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #000;
}
.figure__element {
    position: absolute;
    display: flex;
    align-items: center;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #cc605e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.header__text,
.text {
    color: azure;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

